{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier", "json"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "airbnb",
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "env": {
    "mocha": true,
    "node": true
  },
  "globals": {
    "artifacts": true
  },
  "settings": {
    "import/resolver": {
      "typescript": {},
    }
  },
  "rules": {
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "no-restricted-syntax": ["error", "LabeledStatement", "WithStatement"],
    "prettier/prettier": "error"
  }
}
